i,em{
	font-style: normal;
}
body,html{
	width: 100%;
	height: 100%;
}
.w-hover{
	background-color: #11bdc5 !important;
	border: solid 1px #11bdc5 !important;
	color: #FFFFFF !important;
}
.tab-right{
	width:937px;
	margin-left: 33px;
}
.tab-right .top-tab{
	width:937px;
	height:88px;
	border-top: 3px solid #11bdc5;
	border-bottom: 1px solid #eeeeee;
}
.tab-right .top-tab >ul{
	width:480px;
	margin: 0 auto;
	margin-top: 24px;
}
.tab-right .top-tab >ul >li{
	float: left;
	width: 138px;
	height: 38px;
	background-color: #fff;
	border-radius: 20px;
	border: solid 1px #a1a1a1;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	color: #666;
}
.tab-right .top-tab >ul >li:hover{
	border:1px solid #11bdc5;
}
.tab-right .top-tab >ul .li-conter{
	margin: 0 30px;
}
.tab-right .follow-substance{
	width: 937px;
}
.tab-right .follow-substance >ol >li{
	width:937px;
	height: 123px;
	border-bottom: 1px solid #eeeeee;
}
.tab-right .follow-substance >ol >li >div{
	float: left;
}
.tab-right .follow-substance >ol >li .school-img{
	width:123px;
	height:123px;
	text-align: center;
	line-height: 123px;
}
.tab-right .follow-substance >ol >li .school-img .imgs{
	width:80px;
  height: auto;
}
.tab-right .follow-substance >ol >li .school-substance{
	width: 814px;
	height:123px;
	position: relative;
}
.tab-right .follow-substance >ol >li .school-substance .school{
	display: inline-block;
	font-size: 20px;
	color: #333333;
	margin-top: 30px;
}
.tab-right .follow-substance >ol >li .school-substance .image{
	margin-bottom: 3px;
}
.tab-right .follow-substance >ol >li .school-substance .city{
	font-size: 14px;
	color: #666666;
}
.tab-right .follow-substance >ol >li .school-substance .ranking1,.tab-right .follow-substance >ol >li .school-substance .ranking2,.tab-right .follow-substance >ol >li .school-substance .course{
	display: inline-block;
	width: 40px;
	height: 25px;
	border-radius: 4px;
	border: solid 1px #ff4638;
	text-align: center;
	line-height: 25px;
	margin-right: 13px;
	font-size: 12px;
	color: #ff4638;
	margin-top: 15px;
}
.tab-right .follow-substance >ol >li .school-substance .detail{
	display: inline-block;
	width: 134px;
	height: 25px;
	border-radius: 4px;
	border: solid 1px #11bdc5;
	text-align: center;
	line-height: 25px;
	margin-left: 4px;
	margin-top: 12px;
	font-size: 12px;
	color: #11bdc5;
}
.tab-right .follow-substance >ol >li .school-substance .placing-school{
	min-width:186px;
	height:50px;
	line-height: 50px;
	position: absolute;
	right: 32px;
	top:36px;
}
.tab-right .follow-substance >ol >li .school-substance .placing-school .like{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #f7f7f7;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	margin-left: 32px;
}
.tab-right .follow-substance >ol >li .school-substance .placing-school .placing{
	font-size: 16px;
	color: #aaaaaa;
}
.tab-right .follow-substance >ol >li .school-substance .placing-school .placing i{
	display: inline-block;
	font-size: 30px;
	color: #11bdc5;
	vertical-align: middle;
	margin-top: -6px;
}
.tab-right .follow-substance .major-ol >li,.tab-right .follow-substance .occupation-ol >li{
	width: 909px;
	font-size: 16px;
	color: #666666;
	position: relative;
	padding-left: 28px;
}
.tab-right .follow-substance .major-ol >li .major,.tab-right .follow-substance .occupation-ol >li .occupation{
	display: inline-block;
	font-size: 20px;
	color: #333333;
	margin-top: 18px;
}
.tab-right .follow-substance .major-ol >li .subject,.tab-right .follow-substance .occupation-ol >li .subject{
	display: inline-block;
	color: #11bdc5;
	margin-top: 10px;
}
.tab-right .follow-substance .major-ol >li .salary{
	display: inline-block;
	color: #fe6a23;
	margin-top: 10px;
}
.tab-right .follow-substance .major-ol >li .placing-major,.tab-right .follow-substance .occupation-ol >li .placing-occupation{
	width: 50px;
	height: 50px;
	background-color: #f7f7f7;
	border-radius: 50%;
	position: absolute;
	top:36px;
	right: 32px;
	text-align: center;
	line-height: 50px;
}
.tab-right .follow-substance .occupation-ol >li .occupation{
	margin-top: 27px;
}
.tab-right .top-table{
	width:937px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	border-top: 3px solid #11bdc5;
	font-size: 20px;
	color: #666666;
	line-height: 62px;
}
.tab-right .top-table .append{
	width: 140px;
	height: 40px;
	background-color: #11bdc5;
	border-radius: 20px;
	border: solid 1px #11bdc5;
	text-align: center;
	line-height: 40px;
	color: #FFFFFF;
	margin-top: 12px;
}
.tab-right .my-table{
	width:937px;
}
.tab-right .my-table .my-table-ul >li{
	width: 905px;
	height: 122px;
	border: solid 1px #eeeeee;
	margin-bottom: 22px;
	font-size: 14px;
	color: #666666;
	padding-left: 30px;
	position: relative;
}
.tab-right .my-table .my-table-ul >li .num{
	display: inline-block;
	font-size: 18px;
	color: #11bdc5;
	margin: 15px 0;
}
.tab-right .my-table .my-table-ul >li .time{
	display: inline-block;
	color: #999999;
	margin-top: 15px;
}
.tab-right .my-table .my-table-ul >li .amputate{
    width: 70px;
    height: 124px;
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 14px;
    color: #fe6a23;
    line-height: 124px;
}
.tab-right .my-table .my-table-ul >li .amputate >img{
	margin-right: 12px;
	margin-top: -4px;
}
.revise-box{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
}
.revise-box .revise-secondary{
	width: 434px;
	min-height: 460px;
	background-color: #ffffff;
	border-radius: 20px;
	position: fixed;
	top:265px;
	left: 50%;
	margin-left: -217px;
}
.revise-box .revise-secondary .return{
	position: absolute;
	top:11px;
	right: 13px;
	width: 32px;
	height: 32px;
	background-color: #11bdc5;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 27px;
}
.revise-box .revise-secondary .title{
	text-align: center;
	font-size: 22px;
	color: #000000;
	margin-top: 36px;
}
.revise-box .revise-secondary >ul{
	width: 346px;
	margin: 30px auto;
}
.revise-box .revise-secondary >ul div{
	color:red;
}
.revise-box .revise-secondary >ul >li{
	width: 346px;
	height: 46px;
	margin: 11px 0;
}
.revise-box .revise-secondary >ul >li label{
	line-height:46px;
}
.revise-box .revise-secondary >ul >li label >input{
	width: 80%;
	height: 100%;
	border: solid 1px #e8e8e8;
	text-indent : 11px;
	outline:medium;
}
.revise-box .revise-secondary >ul >li label .right-input{
	float: right;
}
.revise-box .revise-secondary >ul >li label .identifying{
	width: 138px;
	float: right;
}
.revise-box .revise-secondary >ul >li label >span{
	display: inline-block;
	width: 104px;
	height: 48px;
	background-color: #11bdc5;
	vertical-align: middle;
	margin-left: 34px;
	text-align: center;
	line-height: 46px;
	font-size: 16px;
	color: #FFFFFF;
	float: right;
}
.revise-box .revise-secondary >ul .button{
	background-color: #11bdc5;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	line-height: 46px;
}
.hide{
    display: none;
}
.bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
.no-data{
	width: 100%;
	height:100px;
	line-height: 100px;
	text-align: center;
	font-size: 24px;
}
.fixed{
	position:fixed;
}
.icon-collect{
	display: inline-block;
    color: red;
    font-size: 23px;
    margin-top: 13px;
}
/*模态框*/
.tips{
    width:100%;
    height:200%;
    background-color:rgba(0,0,0,.5);
    position: absolute;
    top:0;
    left:0;
    z-index:5000;
}
.tips .tips-secondary {
  width: 500px;
  height: 279px;
  background-color: #ffffff;
  border-radius: 20px;
  position: fixed;
  top: 265px;
  left: 50%;
  margin-left: -250px;
  text-align: center;
}
.tips .tips-secondary .return {
  position: absolute;
  top: 5px;
  right: 12px;
  font-size: 30px;
  text-align: center;
  line-height: 27px;
  cursor: pointer;
}
.tips .tips-secondary .prompt {
  font-size: 24px;
  color: #333333;
  margin-top: 47px;
}
.tips .tips-secondary .prompt span {
  display: inline-block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #fe6a23;
  color: #FFFFFF;
}
.tips .tips-secondary .prompt-substance {
  width: 350px;
  margin: 0 auto;
  font-size: 14px;
  color: #888888;
  text-align: left;
  margin-top: 33px;
}
.tips .tips-secondary ul {
  width: 360px;
  margin: 0 auto;
  margin-top: 37px;
}
.tips .tips-secondary ul li {
  width: 167px;
  height: 52px;
  border-radius: 25px;
  border: solid 1px #999999;
  font-size: 20px;
  color: #555555;
  line-height: 52px;
  float: left;
  cursor: pointer;
}
.tips .tips-secondary ul .download {
  float: right;
  background-color: #11bdc5;
  color: #FFFFFF;
  border: solid 1px #11bdc5;
}
.tips .tips-secondary ul .download a{
    display: inline-block;
    width:100%;
    height:100%;
    color:#fff;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}