.icon-vip:before {
  content: '';
}
.icon-vip:after {
  color: #fe6a23;
  content: "\e93c";
}
.tab-right {
  width: 937px;
  margin-left: 33px;
}
.select {
	margin-top:10px;
  width: 100%;
}
.select:after {
  display: block;
  content: '';
  height: 3px;
  background-color: #11bdc5;
}
.select-item:after {
  display: block;
  content: '';
  height: 1px;
  background: #f0f0f0;
}
.per-cell {
  max-width: 840px;
  margin-left: 25px;
}
.per-cell-2 {
  margin-left: 30px;
}
.percent,
.per-cell {
  display: inline-block;
  line-height: 50px;
  color: #333;
  font-size: 14px;
}
.percent.percent-area,
.per-cell.percent-area {
  margin-right: 0;
  float: left;
}
.percent.check,
.per-cell.check {
  display: none;
}
.percent div,
.per-cell div {
  line-height: 62px;
  display: inline-block;
  width: 105px;
  text-align: center;
  margin-right: 67px;
}
.percent div.area,
.per-cell div.area {
  width: 80px;
  margin-right: 6px;
}
.percent div span,
.per-cell div span {
  display: block;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.percent div span.active,
.per-cell div span.active {
  border-radius: 15px;
  background-color: #11bdc5;
  color: #fff;
}
.percent .condition,
.per-cell .condition {
  margin-right: 25px;
  width: 143px;
}
.percent .condition select,
.per-cell .condition select {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  text-indent: .5em;
}
.schools ul li {
  width: 937px;
  height: 123px;
  border-bottom: 1px solid #eee;
}
.school-list{
	cursor:pointer;
}
.schools ul li > div {
  float: left;
}
.schools ul li .school-logo {
  width: 123px;
  height: 123px;
  text-align: center;
  line-height: 123px;
}
.schools ul li .school-logo img {
  width: 80px;
}
.schools ul li .school-info {
  width: 814px;
  height: 123px;
  position: relative;
}
.schools ul li .school-info .school-name {
  display: inline-block;
  font-size: 20px;
  color: #333;
  margin-top: 30px;
}
.schools ul li .school-info .city-name {
  font-size: 14px;
  color: #666;
}
.schools ul li .school-info .five > span {
  display: inline-block;
  margin-top: 22px;
  color: #666;
  font-size: 14px;
}
.schools ul li .school-info .five > span > span {
  margin-right: 32px;
  color: #fe6a23;
}
.schools ul li .school-info .five > span:last-of-type span {
  color: #11bdc5;
}
.schools ul li .school-info .school-type {
  display: inline-block;
  width: 40px;
  height: 25px;
  border-radius: 4px;
  border: solid 1px #ff4638;
  text-align: center;
  line-height: 25px;
  margin-right: 13px;
  font-size: 12px;
  color: #ff4638;
}
.schools ul li .school-info .school-salary {
  display: inline-block;
  width: 160px;
  height: 25px;
  border-radius: 4px;
  border: solid 1px #11bdc5;
  text-align: center;
  line-height: 25px;
  margin-left: 4px;
  margin-top: 12px;
  font-size: 12px;
  color: #11bdc5;
}
.schools ul li .school-info .school-rank {
  width: 250px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 32px;
  top: 36px;
}
.schools ul li .school-info .school-rank .school-ranking {
  line-height: 50px;
  font-size: 16px;
  color: #aaa;
}
.schools ul li .school-info .school-rank .school-ranking span {
  display: inline-block;
  font-size: 30px;
  color: #11bdc5;
  vertical-align: middle;
  margin-top: -6px;
}
.schools ul li .school-info .school-rank .school-attention {
  font-size: 23px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #f7f7f7;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin-left: 32px;
}
.schools ul li .school-info .school-rank .school-attention.icon-collect {
  color: #f00;
}
.schools ul li .school-info .school-rank .school-attention.icon-notcollect {
  color: #b4b4b4;
}
.school-myattention{
	float:right;
	height:60px;
	width:60px;
}
