body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    width: 100%;
    /*// margin: 0 auto;*/
    color: #555;
    font-size: 14px;
    font-family: '微软雅黑',Verdana, Arial, Helvetica, sans-serif;
    min-width:1366px;
}
td, th, caption {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
a {
    color: #555;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
img {
    border: none;
    vertical-align: middle;
}
ol, ul, li {
    list-style: none;
}
input, textarea, select, button {
    font: 14px "microsoft yahei", Helvetica, Arial, sans-serif;
}
table {
    border-collapse: collapse;
}
html {
    overflow-y: scroll;
}
.fll {
    float: left;
}
.flr {
    float: right;
}
.display-none {
    display: none;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
/*公共的宽度*/
.banxin {
    width: 1200px;
    margin: 0 auto;
}
/*顶部开始*/
.header {
    height: 90px;
    border-bottom: 2px solid #cff4ef;

}
.headCenter {
    height: 100%;

}
.logo {
    height: 100%;
    box-sizing: content-box;
    margin-right: 45px;
}
.logo > a {
    color: #11bdc5;
    font-size: 28px;
    display: block;
    margin-top: 25px;
    font-family: "黑体";
}
.logo > a > img {
    width: 54px;
    height: 46px;

}
.tab {
    height: 100%;
}
.tab ul li {
    float: left;
}
.tab ul > .active {
    border-bottom: 2px solid #11bdc5;
    height: 88px;
    color: #11bdc5;
}
.tab ul .current {
    color: #999 !important;
}
.tab ul li > a {
    font-size: 18px;
    color: #515151;
    padding: 0 20px;
    line-height: 90px;
}
.search {
    padding-top: 25px;
    position: relative;
}
.search input {
    width: 210px;
    height: 38px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #11bdc5;
    padding-left: 10px;
    color: #ccc;
    font-size: 16px;
}
.search > .fll {
    position: relative;
}
.search > .fll > a {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.search > .fll > a > img {
    width: 20px;
    height: 20px;
}
.search > .flr > a {
    margin-left: 10px;
    padding: 0 25px;
    color: #333;
    font-size: 16px;
    line-height: 38px;
    display: inline-block;
    border-radius: 20px;
}
.search > .flr .account{
    height:57px;
}
.search > .flr > .active {
    background-color: #11bdc5;
    color: #fff;
}
.my-count{
    margin-top: 10px;
    position: relative;
}
.my-count > a {
    color: #11bdc5 !important;
    font: 16px "黑体" !important;
}
.my-count>ul{
    position: absolute;
    top: 55px;
    left: 0;
    background-color: pink;
    padding:15px;
    border:1px solid #a1a1a1;
    z-index: 3000;
    border-radius: 5px;
    box-sizing: border-box;
}
.my-count>ul>li{
    font:14px "黑体";
    color:#333;
}
/*底部开始*/
/*底部开始*/
.foot {
    width: 100%;
    background-color: #323436;

}
.foot > .footBox {
    border-bottom: 1px solid #414141;
    height: 233px;
    padding-top: 35px;
    box-sizing: border-box;
}
.foot > p {
    height: 53px;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #999;
    line-height: 53px;
}
.foot > .footBox > .left {
    width: 855px;
    height: 100%;
}
.foot > .footBox > .left > ul {
    float: left;
    margin-right: 55px;
}
.foot > .footBox > .left > ul > li:first-child {
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
}
.foot > .footBox > .left > ul > li {
    margin-bottom: 15px;
}
.foot > .footBox > .left > ul > li > a {
    font-size: 14px;
    color: #999;
}
.foot > .footBox > .left > ul > li > a > img {
    width: 17px;
    height: 14px;
    margin-right: 10px;
}
.foot > .footBox > .right > div {
    width: 100px;
    text-align: center;
    margin-right: 60px;
}
.foot > .footBox > .right > div > p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
}
.foot > .footBox > .right > div > img {
    width: 100px;
    height: 100px;
}
/*底部结束*/
.cover-box{
    width: 100%;
    height: 1000px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    z-index: 5000;
}
/*注册开始*/
.register, .logined {
    background-color: #fff;
    width: 607px;
    min-height: 607px;
    position: fixed;
    top: 230px;
    left: 50%;
    margin-left: -303px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 2000;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.close > a, .closelogin > a {
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #11bdc5;
    margin: 10px 10px 0 0;
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-size: 24px;
}
.register > h3, .logined > h3 {
    text-align: center;
    font-size: 22px;
    color: #000;
    margin-bottom: 30px;
}
.register > form, .logined > form {
    width: 100%;
    padding-left: 45px;
    box-sizing: border-box;
}
.com-list{
    margin:20px 0;
}
.com-list > span {
    width: 65px;
    display: inline-block;
    text-align: right;
    color: #333;
    font-size: 16px;
}
.com-list > input {
    width: 300px;
    height: 45px;
    outline: none;
    padding-left: 10px;
    color: #888;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
}
.com-list > button{
    width: 110px;
    height: 45px;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    background-color: #11bdc5;
    text-align: center;
    line-height: 45px;
    font-size: 14px;
    border:none;
    outline:none;
}
.wy-error{
    font-size:12px;
    color:#f00;
    padding-left: 70px;
}
.com-list > i {
    color: #999;
    font-style: normal;
}
.agree {
    padding-left: 65px;
    font-size: 14px;
    color: #ccc;
}
.agree > input {
    vertical-align: middle;
    margin-right: 10px;
}
.agree > a {
    color: #11bdc5;
}
.register > form > button{
    display: block;
    width: 300px;
    height: 45px;
    background-color: #11bdc5;
    text-align: center;
    line-height: 45px;
    color: #fff;
    margin: 20px 0 20px 65px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    outline: none;
}
.has-account {
    width: 300px;
    margin-left: 65px;
    text-align: center;
    color: #828282;
    font-size: 14px;
}
.has-account > a {
    color: #11bdc5;
}
/*注册结束*/
/*登录开始*/
.logined {
    width: 435px;
    min-height: 370px;
    margin-left: -215px;

}
.logined > form {
    padding-right: 45px;
}
.com-login {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.com-login > input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 16px;
    color: #888;
    outline: none;
    border: 1px solid #e8e8e8;
}
.com-login > div{
    position: absolute;
    right: 10px;
    top: 20px;
    font:400 20px "黑体";
    color:#666;
}
.com-login > .active {
    border: 1px solid #11bdc5 !important;
}
.com-list > .active {
    border: 1px solid #11bdc5 !important;
}
.logined .agree {
    padding-left: 0;
}
.logined > form > button {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background-color: #11bdc5;
    display: block;
    font-size: 16px;
    margin-top: 20px;
    border: none;
    outline: none;
}
.forget {
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.forget > a {
    height: 40px;
    font-size: 14px;
    color: #888;
}
.forget > a:last-child {
    color: #11bdc5;
}
.logined > h3 {
    margin-bottom: 23px;
}
.yixia {
    text-align: center;
    margin-bottom: 10px;
}
.yixia > i {
    font-style: normal;
    font-size: 14px;
    color: #555;
}
.yixia > span {
    width: 105px;
    height: 1px;
    background-color: #eee;
    margin-top: 10px;
}
.three > div {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #00b6f8;
    line-height: 50px;
    margin: 0 30px;
}
.my-count{
    margin-top: 10px;
    position: relative;
    margin-left: 75px;
}
.my-count > a {
    color: #11bdc5 !important;
    font: 16px "黑体" !important;
}
.my-count>ul{
    position: absolute;
    top: 55px;
    left: -13px;
    width: 180px;
    background-color: #fff;
    padding:15px;
    border:1px solid #a1a1a1;
    z-index: 3000;
    border-radius: 5px;
    box-sizing: border-box;
    padding-bottom: 0;
}
.my-count>ul>li{
    font:14px "黑体";
    color:#333;
    margin-bottom: 30px;
    width: 100%;
}
.my-count>ul>li:first-child{
    text-align: center;
    margin-bottom: 35px;
}
.my-count>ul>li>a{
    width: 100%;
    display: block;
}
.my-count>ul>li>a.active{
    color:#11bdc5 !important;
}
.my-count>ul>li img{
    float: right;
}
.my-count>ul>li>.active{
    color:#11bdc5;
}
/* container */
.container{
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 41px;
}
.container .dir {
    height: 55px;
    line-height: 55px;
    display: flex;
    justify-content: space-between;
}
.dir div{
    font-size: 14px;
    letter-spacing: 0px;
    color: #555;
}
.dir .dir-right {
    color: #11bdc5;
}
.dir .dir-right img{
    cursor: pointer;
}
/* 左侧导航 */
.tab-left, .tab-right{
    float: left;
}
.tab-left{
    width:228px;
    text-align: center;
    border: 1px solid #f0f0f0;
}
.tab-left .navigation{
    width:230px;
    height:60px;
    color: #fff;
    font-size: 18px;
    line-height: 60px;
    border-top: 1px solid #dbdbdb;
    background-color: #11bdc5;
}
.tab-left .navigation .er-left, .tab-left .navigation .er-right{
    display: inline-block;
    width:34px;
    height:1px;
    background-color: #fff;
    margin-bottom: 5px;
}
.tab-left .navigation .er-left{
    margin-right: 17px;
}
.tab-left .navigation .er-right{
    margin-left: 17px;
}
.tab-left ul li{
    position: relative;
    cursor: pointer;
    width:228px;
    height:50px;
    line-height: 50px;
    font-size: 16px;
    background-color: #fcfcfc;
    border-top: 1px solid #f0f0f0;
}
.tab-left ul li.active{
    background: #fff;
}
.tab-left ul li.active:before{
    position: absolute;
    content: '';
    width: 2px;
    height: 33px;
    background-color: #11bdc5;
    border-radius: 1px;
    left: 0;
    top: 9px;
}
/*上下页开始*/
.y-pages{
    text-align: center;
    height: 36px;
    margin:0 auto;
    margin-top: 35px;
    width: 321px;
}
.y-pages>a{
    width: 36px;
    height: 36px;
    border: solid 1px #ccc;
    text-align: center;
    line-height: 36px;
    display: inline-block;
}
.y-pages>a.active{
    background-color: #11bdc5;
    border: solid 1px #11bdc5;
    color:#fff;
}
.y-pages>a:first-child,.y-pages>a:last-child{
    width: 70px;
}
/*上下页结束*/
/*上一篇下一篇开始*/
.y-article{
    font-size: 16px;
    line-height: 18px;
    color: #666;
}
.y-article a{
    font-size: 16px;
    color: #11bdc5;
}
.y-errorMsg{
    font: 12px/30px "黑体";
    color：red;
}
[v-cloak]{
    display: none;
}

/*上一篇下一篇结束*/

/*去除登录输入框的黄色*/
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px white inset
}
input:focus{
    outline: 1px solid #11bdc5;
}
@-webkit-keyframes-autofill{
    to{
        color:#fff!important;
        background: transparent!important;
    }
}