[v-cloak] {
	display: none
}

body,
html {
	width: 100%;
	height: 100%
}

.container .tab-left .neibu_tab .icon-vip:before {
	content: ''
}

.container .tab-left .neibu_tab .icon-vip:after {
	color: #fe6a23;
	content: "\e93c"
}

.container .tab-right {
	width: 937px;
	margin-left: 33px;
	margin-bottom: 40px;
}

.container .tab-right .select {
	width: 100%
}

.container .tab-right .select:after,
.container .tab-right .select:before {
	display: block;
	content: '';
	height: 3px;
	background-color: #11bdc5
}

.container .tab-right .select .select-item:after {
	display: block;
	content: '';
	height: 1px;
	background: #f0f0f0
}

.container .tab-right .select .select-item .per-cell {
	max-width: 840px;
	margin-left: 25px
}

.container .tab-right .select .select-item .per-cell-2 {
	margin-left: 30px
}

.container .tab-right .select .select-item .per-cell,
.container .tab-right .select .select-item .percent {
	display: inline-block;
	line-height: 50px;
	color: #333;
	font-size: 14px
}

.container .tab-right .select .select-item .per-cell.percent-area,
.container .tab-right .select .select-item .percent.percent-area {
	margin-right: 0;
	float: left
}

.container .tab-right .select .select-item .per-cell.check,
.container .tab-right .select .select-item .percent.check {
	display: none
}

.container .tab-right .select .select-item .per-cell div,
.container .tab-right .select .select-item .percent div {
	line-height: 62px;
	display: inline-block;
	width: 105px;
	text-align: center;
	margin-right: 67px
}

.container .tab-right .select .select-item .per-cell div.no-mr,
.container .tab-right .select .select-item .percent div.no-mr {
	margin-right: 0
}

.container .tab-right .select .select-item .per-cell div.area,
.container .tab-right .select .select-item .percent div.area {
	width: 80px;
	margin-right: 6px
}

.container .tab-right .select .select-item .per-cell div span,
.container .tab-right .select .select-item .percent div span {
	display: block;
	height: 30px;
	line-height: 30px;
	cursor: pointer
}
.container .tab-right .select .select-item .per-cell div span:hover{
	border:1px solid #11bdc5;
	border-radius:15px;
}
.container .tab-right .select .select-item .per-cell div span.active,
.container .tab-right .select .select-item .percent div span.active {
	border-radius: 15px;
	background-color: #11bdc5;
	color: #fff
}

.container .tab-right .select .select-item .per-cell .condition,
.container .tab-right .select .select-item .percent .condition {
	margin-right: 25px;
	width: 143px
}

.container .tab-right .select .select-item .per-cell .condition select,
.container .tab-right .select .select-item .percent .condition select {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #e3e3e3;
	text-indent: .5em;
	outline:none;
}
.container .tab-right .schools{
	margin-bottom:40px;
	min-height:200px;
}
.container .tab-right .schools ul li {
	width: 937px;
	height: 123px
}

.container .tab-right .schools ul li:after {
	display: block;
	content: '';
	height: 1px;
	background: #eee
}

.container .tab-right .schools ul li>div {
	float: left
}

.container .tab-right .schools ul li .school-logo {
	width: 123px;
	height: 123px;
	text-align: center;
	line-height: 123px
}

.container .tab-right .schools ul li .school-logo img {
	width: 80px;
	height: auto
}

.container .tab-right .schools ul li .school-info {
	width: 814px;
	height: 123px;
	position: relative
}

.container .tab-right .schools ul li .school-info .school-name {
	display: inline-block;
	font-size: 20px;
	color: #333;
	margin-top: 30px
}

.container .tab-right .schools ul li .school-info .city-name {
	font-size: 14px;
	color: #666
}

.container .tab-right .schools ul li .school-info .five>span {
	display: inline-block;
	margin-top: 22px;
	color: #666;
	font-size: 14px
}

.container .tab-right .schools ul li .school-info .five>span>span {
	margin-right: 32px;
	color: #fe6a23
}

.container .tab-right .schools ul li .school-info .five>span:last-of-type span {
	color: #11bdc5
}

.container .tab-right .schools ul li .school-info .school-type {
	display: inline-block;
	width: 40px;
	height: 25px;
	border-radius: 4px;
	border: solid 1px #ff4638;
	text-align: center;
	line-height: 25px;
	margin-right: 13px;
	font-size: 12px;
	color: #ff4638
}

.container .tab-right .schools ul li .school-info .school-salary {
	display: inline-block;
	width: 134px;
	height: 25px;
	border-radius: 4px;
	border: solid 1px #11bdc5;
	text-align: center;
	line-height: 25px;
	margin-left: 4px;
	margin-top: 12px;
	font-size: 12px;
	color: #11bdc5
}

.container .tab-right .schools ul li .school-info .school-rank {
	width: 230px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: 32px;
	top: 36px
}

.container .tab-right .schools ul li .school-info .school-rank .school-ranking {
	line-height: 50px;
	font-size: 16px;
	color: #aaa
}

.container .tab-right .schools ul li .school-info .school-rank .school-ranking span {
	display: inline-block;
	font-size: 30px;
	color: #11bdc5;
	vertical-align: middle;
	margin-top: -6px
}

.container .tab-right .schools ul li .school-info .school-rank .school-attention {
	font-size: 23px;
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #f7f7f7;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	margin-left: 32px
}

.container .tab-right .schools ul li .school-info .school-rank .school-attention.icon-collect {
	color: red;
	top:-13px;
}

.container .tab-right .schools ul li .school-info .school-rank .school-attention.icon-notcollect {
	color: #b4b4b4
}

.container .tab-right .specialty-surname {
	width: 937px;
	border-top: 3px solid #11bdc5;
	margin-bottom: 40px;
}

.container .tab-right .specialty-surname .ss-search input {
	width: 751px;
	height: 44px;
	border-radius: 23px;
	border: solid 1px #11bdc5;
	padding-left: 18px;
	margin-top: 24px
}
.container .tab-right .specialty-surname .ss-search input:focus{
	outline:none;
}
.container .tab-right .specialty-surname .ss-search input::-webkit-input-placeholder {
	color: #999;
	font-size: 14px
}

.container .tab-right .specialty-surname .ss-search span {
	display: inline-block;
	width: 137px;
	height: 46px;
	background-color: #11bdc5;
	border-radius: 23px;
	border: solid 1px #11bdc5;
	text-align: center;
	line-height: 44px;
	font-size: 18px;
	color: #FFF;
	margin-left: 22px
}

.container .tab-right .specialty-surname .ss-college {
	margin-top: 31px
}

.container .tab-right .specialty-surname .ss-college ul {
	position: relative
}

.container .tab-right .specialty-surname .ss-college ul li {
	float: left;
	width: 118px;
	height: 40px;
	border-radius: 10px 10px 0 0;
	border: solid 1px #cecece;
	margin-right: 7px;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	background-color: #11bdc5;
	color: #FFF;
	border-bottom:1px solid #fff;
}

.container .tab-right .specialty-surname .ss-college ul .ss-active {
	color: #11bdc5;
	background-color: #fff
}

.container .tab-right .specialty-surname .ss-college .ss-undergraduate {
	outline: 1px solid #cecece;
	padding-bottom: 20px;
	margin-left: 1px
}

.container .tab-right .specialty-surname .ss-college .ss-undergraduate span {
	display: inline-block;
	padding: 8px 18px;
	background-color: #ededed;
	margin-left: 20px;
	margin-top: 20px
}
.container .tab-right .specialty-surname .ss-college .ss-undergraduate span.active{
	background-color: #11bdc5;
}
.container .tab-right .specialty-surname .ss-specialty ul li .ss-specialty-top {
	height: 46px;
	border-left: 4px solid #11bdc5;
	background-color: #b7ebed;
	font-size: 18px;
	color: #000;
	margin-top: 27px;
	line-height: 46px;
	margin-bottom: 28px
}

.container .tab-right .specialty-surname .ss-specialty ul li .ss-specialty-top span {
	margin-left: 14px
}

.container .tab-right .specialty-surname .ss-specialty ul li .ss-specialty-substance {
	margin-top: 26px
}

.container .tab-right .specialty-surname .ss-specialty ul li .ss-specialty-substance div {
	float: left
}

.container .tab-right .specialty-surname .ss-specialty ul li .ss-specialty-substance .ss-specialty-left {
	width: 156px;
	font-size: 14px;
	color: #666
}

.container .tab-right .specialty-surname .ss-specialty ul li .ss-specialty-substance .ss-specialty-right {
	width: 740px
}

.container .tab-right .specialty-surname .ss-specialty ul li .ss-specialty-substance .ss-specialty-right span {
	display: inline-block;
	width: 170px;
	margin-bottom: 12px
}

.container .tab-right .college-ranking,
.container .tab-right .specialty-ranking {
	width: 937px
}

.container .tab-right .college-ranking .report,
.container .tab-right .specialty-ranking .report {
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}

.container .tab-right .college-ranking .report h1,
.container .tab-right .specialty-ranking .report h1 {
	font-size: 30px;
	margin: 24px 0 58px
}

.container .tab-right .college-ranking .report .r-substance,
.container .tab-right .specialty-ranking .report .r-substance {
	font-size: 24px;
	color: #666;
	margin: 39px 0 38px
}

.container .tab-right .college-ranking .report .r-substance span,
.container .tab-right .specialty-ranking .report .r-substance span {
	color: #11bdc5
}

.container .tab-right .college-ranking .report .r-score,
.container .tab-right .specialty-ranking .report .r-score {
	width: 228px;
	height: 70px;
	text-align: center;
	position: absolute;
	top: 124px;
	left: 50%;
	margin-left: -112px;
	font-size: 60px;
	color: #fe6a23
}

.container .tab-right .college-ranking .report .r-score span,
.container .tab-right .specialty-ranking .report .r-score span {
	font-size: 24px;
	color: #666
}

.container .tab-right .college-ranking .report .r-school,
.container .tab-right .specialty-ranking .report .r-school {
	padding-top: 28px;
	border-top: 1px dashed #eee;
	font-size: 20px;
	color: #555;
	margin-bottom: 26px
}

.container .tab-right .college-ranking .report .r-school span,
.container .tab-right .specialty-ranking .report .r-school span {
	color: #11bdc5
}

.container .tab-right .college-ranking .report .r-school-entry,
.container .tab-right .specialty-ranking .report .r-school-entry {
	text-align: left
}

.container .tab-right .college-ranking .report .r-school-entry div,
.container .tab-right .specialty-ranking .report .r-school-entry div {
	height: 50px;
	background-color: #b7ebed;
	font-size: 20px;
	color: #333;
	line-height: 50px;
	text-align: left
}

.container .tab-right .college-ranking .report .r-school-entry div .r-left,
.container .tab-right .specialty-ranking .report .r-school-entry div .r-left {
	margin-left: 53px
}

.container .tab-right .college-ranking .report .r-school-entry div .r-center,
.container .tab-right .specialty-ranking .report .r-school-entry div .r-center {
	display: inline-block;
	width: 300px;
	text-align: center
}

.container .tab-right .college-ranking .report .r-school-entry div .r-right,
.container .tab-right .specialty-ranking .report .r-school-entry div .r-right {
	float: right;
	margin-right: 79px
}

.container .tab-right .college-ranking .report .r-school-entry li,
.container .tab-right .specialty-ranking .report .r-school-entry li {
	width: 937px;
	height: 75px;
	font-size: 24px;
	color: #333;
	border-bottom: 1px solid #eee
}

.container .tab-right .college-ranking .report .r-school-entry li .r-left,
.container .tab-right .specialty-ranking .report .r-school-entry li .r-left {
	display: inline-block;
	min-width: 50px;
	border-radius: 3px;
	background-color: #b4b4b4;
	margin-left: 57px;
	margin-top: 22px;
	font-size: 24px;
	color: #FFF;
	text-align: center;
	line-height: 30px
}

.container .tab-right .college-ranking .report .r-school-entry li .r-center,
.container .tab-right .specialty-ranking .report .r-school-entry li .r-center {
	display: inline-block;
	width: 300px;
	text-align: center;
	margin-left: 5px
}

.container .tab-right .college-ranking .report .r-school-entry li .r-content,
.container .tab-right .specialty-ranking .report .r-school-entry li .r-content {
	display: inline-block;
	width: 300px;
	text-align: center
}

.container .tab-right .college-ranking .report .r-school-entry li .r-right,
.container .tab-right .specialty-ranking .report .r-school-entry li .r-right {
	float: right;
	margin-right: 79px;
	line-height: 75px
}

.container .tab-right .college-ranking .report .r-school-entry li .r-right.salary,
.container .tab-right .specialty-ranking .report .r-school-entry li .r-right.salary {
	color: #fe6a23
}

.container .tab-right .college-ranking .report .r-school-entry li .first,
.container .tab-right .specialty-ranking .report .r-school-entry li .first {
	background: #ff5252
}

.container .tab-right .college-ranking .report .r-school-entry li .second,
.container .tab-right .specialty-ranking .report .r-school-entry li .second {
	background: #ff6c00
}

.container .tab-right .college-ranking .report .r-school-entry li .third,
.container .tab-right .specialty-ranking .report .r-school-entry li .third {
	background: #fc8a40
}

.container .tab-right .college-ranking .report .r-city-name,
.container .tab-right .specialty-ranking .report .r-city-name {
	text-align: left
}

.container .tab-right .college-ranking .report .r-city-name>div,
.container .tab-right .specialty-ranking .report .r-city-name>div {
	height: 50px;
	background-color: #b7ebed;
	font-size: 20px;
	color: #333;
	line-height: 50px;
	text-align: left
}

.container .tab-right .college-ranking .report .r-city-name>div .r-left,
.container .tab-right .specialty-ranking .report .r-city-name>div .r-left {
	margin-left: 53px
}

.container .tab-right .college-ranking .report .r-city-name>div .r-right,
.container .tab-right .specialty-ranking .report .r-city-name>div .r-right {
	float: right;
	margin-right: 80px
}

.container .tab-right .college-ranking .report .r-city-name>div .r-right span,
.container .tab-right .specialty-ranking .report .r-city-name>div .r-right span {
	display: inline-block;
	height: 10px;
	background-color: #11bdc5
}

.container .tab-right .college-ranking .report .r-city-name li,
.container .tab-right .specialty-ranking .report .r-city-name li {
	width: 937px;
	height: 75px;
	font-size: 24px;
	color: #333;
	border-bottom: 1px solid #eee
}

.container .tab-right .college-ranking .report .r-city-name li .r-left,
.container .tab-right .specialty-ranking .report .r-city-name li .r-left {
	display: inline-block;
	margin-left: 53px;
	margin-top: 22px
}

.container .tab-right .college-ranking .report .r-city-name li .r-right,
.container .tab-right .specialty-ranking .report .r-city-name li .r-right {
	float: right;
	margin-right: 79px;
	line-height: 75px
}

.container .tab-right .college-ranking .report .r-city-name li .r-right .scale-box,
.container .tab-right .specialty-ranking .report .r-city-name li .r-right .scale-box {
	display: inline-block;
	width: 190px;
	height: 10px;
	border-radius: 6px;
	border: solid 1px #11bdc5
}

.container .tab-right .college-ranking .report .r-city-name li .r-right .scale-box span,
.container .tab-right .specialty-ranking .report .r-city-name li .r-right .scale-box span {
	display: inline-block;
	height: 10px;
	border-radius: 5px;
	float: right;
	background-color: #11bdc5
}

.container .tab-right .true-false-academy .tfa-top {
	font-size: 30px;
	color: #000;
	text-align: center;
	border-top: 3px solid #11bdc5;
	padding-top: 32px
}

.container .tab-right .true-false-academy .tfa-top .tfa-search {
	margin-top: 38px
}

.container .tab-right .true-false-academy .tfa-top .tfa-search span {
	font-size: 20px;
	color: #000
}

.container .tab-right .true-false-academy .tfa-top .tfa-search input {
	width: 391px;
	height: 38px;
	border-radius: 20px;
	border: solid 1px #ccc;
	font-size: 16px;
	color: #d2d2d2;
	padding-left: 22px;
	margin: 0 43px;
	outline: 0
}

.container .tab-right .true-false-academy .tfa-top .tfa-search input::-webkit-input-placeholder {
	color: #d2d2d2;
	font-size: 16px
}

.container .tab-right .true-false-academy .tfa-top .tfa-search .tfa-button {
	display: inline-block;
	width: 150px;
	height: 40px;
	background-color: #11bdc5;
	border-radius: 20px;
	color: #FFF;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #feffff
}

.container .tab-right .true-false-academy .tfa-top .tfa-img {
	width: 100%;
	margin-top: 121px
}

.container .tab-right .true-false-academy .tfa-top .tfa-fruit {
	font-size: 30px;
	color: #11bdc5;
	margin-top: 65px
}

.hide {
	display: none
}