.listBox{
	width: 100%;
	min-height: 600px;
}
.listBox>li{
	width: 100%;
	box-sizing: border-box;
	padding-right: 18px;
	background-color: #fff;
	border: solid 1px #eee;
	margin-bottom: 20px;
}
.listBox>li>a{
	display:block;
	font: 14px/36px "黑体";
	color: #666;
	float: right;
	width: 120px;
	height: 36px;
	border-radius: 18px;
	border: solid 1px #a1a1a1;
	text-align: center;
	margin-top: 60px;
}
.listBox>li>div.fll{
	width: 685px;
	height: 44px;
	font: 14px/14px "黑体";
	color: #999;
	padding-left: 27px;
}
.listBox>li>div.fll>h3{
	font: 24px "黑体";
	color: #333;
	margin-top: 28px;
	margin-bottom: 21px;
}
.listBox>li>div.fll>p{
	font-family: "黑体";
	font-size: 14px;
	line-height: 22px;
	color: #999;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}