body,
html {
	width: 100%;
	height: 100%
}

[v-cloak] {
	display: none
}

.container .tab-left .neibu_tab .icon-vip:before {
	content: ''
}

.container .tab-left .neibu_tab .icon-vip:after {
	color: #fe6a23;
	content: "\e93c"
}

.container .tab-right {
	width: 937px;
	margin-left: 33px
}

.container .tab-right .select {
	width: 100%
}

.container .tab-right .select:after,
.container .tab-right .select:before {
	display: block;
	content: '';
	height: 3px;
	background-color: #11bdc5
}

.container .tab-right .select .select-item:after {
	display: block;
	content: '';
	height: 1px;
	background: #f0f0f0
}

.container .tab-right .select .select-item .per-cell {
	max-width: 840px;
	margin-left: 25px
}

.container .tab-right .select .select-item .per-cell-2 {
	margin-left: 30px
}

.container .tab-right .select .select-item .per-cell,
.container .tab-right .select .select-item .percent {
	display: inline-block;
	line-height: 50px;
	color: #333;
	font-size: 14px
}

.container .tab-right .select .select-item .per-cell.percent-area,
.container .tab-right .select .select-item .percent.percent-area {
	margin-right: 0;
	float: left
}

.container .tab-right .select .select-item .per-cell.check,
.container .tab-right .select .select-item .percent.check {
	display: none
}

.container .tab-right .select .select-item .per-cell div,
.container .tab-right .select .select-item .percent div {
	line-height: 62px;
	display: inline-block;
	width: 105px;
	text-align: center;
	margin-right: 67px
}

.container .tab-right .select .select-item .per-cell div.area,
.container .tab-right .select .select-item .percent div.area {
	width: 80px;
	margin-right: 6px
}

.container .tab-right .select .select-item .per-cell div span,
.container .tab-right .select .select-item .percent div span {
	display: block;
	height: 30px;
	line-height: 30px;
	cursor: pointer
}

.container .tab-right .select .select-item .per-cell div span.active,
.container .tab-right .select .select-item .percent div span.active {
	border-radius: 15px;
	background-color: #11bdc5;
	color: #fff
}

.container .tab-right .select .select-item .per-cell .condition,
.container .tab-right .select .select-item .percent .condition {
	margin-right: 25px;
	width: 143px
}

.container .tab-right .select .select-item .per-cell .condition select,
.container .tab-right .select .select-item .percent .condition select {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #e3e3e3;
	text-indent: .5em
}

.container .tab-right .schools ul li {
	width: 937px;
	height: 123px
}

.container .tab-right .schools ul li:after {
	display: block;
	content: '';
	height: 1px;
	background: #eee
}

.container .tab-right .schools ul li>div {
	float: left
}

.container .tab-right .schools ul li .school-logo {
	width: 123px;
	height: 123px;
	text-align: center;
	line-height: 123px
}

.container .tab-right .schools ul li .school-logo img {
	width: 80px;
	height: auto
}

.container .tab-right .schools ul li .school-info {
	width: 814px;
	height: 123px;
	position: relative
}

.container .tab-right .schools ul li .school-info .school-name {
	display: inline-block;
	font-size: 20px;
	color: #333;
	margin-top: 30px;
	cursor: pointer
}

.container .tab-right .schools ul li .school-info .city-name {
	font-size: 14px;
	color: #666
}

.container .tab-right .schools ul li .school-info .five>span {
	display: inline-block;
	margin-top: 22px;
	color: #666;
	font-size: 14px
}

.container .tab-right .schools ul li .school-info .five>span>span {
	margin-right: 32px;
	color: #fe6a23
}

.container .tab-right .schools ul li .school-info .five>span:last-of-type span {
	color: #11bdc5
}

.container .tab-right .schools ul li .school-info .school-type {
	display: inline-block;
	width: 40px;
	height: 25px;
	border-radius: 4px;
	border: solid 1px #ff4638;
	text-align: center;
	line-height: 25px;
	margin-right: 13px;
	font-size: 12px;
	color: #ff4638
}

.container .tab-right .schools ul li .school-info .school-salary {
	display: inline-block;
	width: 134px;
	height: 25px;
	border-radius: 4px;
	border: solid 1px #11bdc5;
	text-align: center;
	line-height: 25px;
	margin-left: 4px;
	margin-top: 12px;
	font-size: 12px;
	color: #11bdc5
}

.container .tab-right .schools ul li .school-info .school-rank {
	width: 230px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: 32px;
	top: 36px
}

.container .tab-right .schools ul li .school-info .school-rank .school-ranking {
	line-height: 50px;
	font-size: 16px;
	color: #aaa
}

.container .tab-right .schools ul li .school-info .school-rank .school-ranking span {
	display: inline-block;
	font-size: 30px;
	color: #11bdc5;
	vertical-align: middle;
	margin-top: -6px
}

.container .tab-right .schools ul li .school-info .school-rank .school-attention {
	font-size: 23px;
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #f7f7f7;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	position: absolute;
	right: 0
}

.container .tab-right .schools ul li .school-info .school-rank .school-attention.icon-collect {
	color: red
}

.container .tab-right .schools ul li .school-info .school-rank .school-attention.icon-notcollect {
	color: #b4b4b4
}

.container .tab-right .ai .ai-select-item:after {
	display: none
}

.container .tab-right .ai:after {
	display: none
}

.container .tab-right .ai h1 {
	height: 70px;
	line-height: 70px;
	font-size: 20px;
	text-align: center;
	color: #555
}

.container .tab-right .ai .selected {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.container .tab-right .ai .selected>div:first-of-type {
	max-width: 847px;
	text-align: left
}

.container .tab-right .ai .selected span {
	display: inline-block;
	border: solid 1px #ccc;
	border-radius: 20px;
	padding: 6px 30px;
	background-color: #fff;
	color: #555;
	cursor: pointer;
	margin-right: 20px
}

.container .tab-right .ai .selected span.active {
	background: #11bdc5;
	border: solid 1px #11bdc5;
	color: #fff;
	position: relative
}

.container .tab-right .ai .selected span.active.del {
	padding-left: 20px;
	padding-right: 50px
}

.container .tab-right .ai .selected span.active.del:last-of-type {
	margin-right: 0
}

.container .tab-right .ai .selected span.active.del:after {
	position: absolute;
	content: '+';
	display: inline-block;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	font-size: 30px;
	font-weight: 500;
	right: 15px;
	top: -4px
}

.container .tab-right .ai .selected .cancel {
	position: relative;
	cursor: pointer;
	width: auto;
	margin: 0
}

.container .tab-right .ai .selected .cancel span {
	border: none;
	color: #ff4638;
	padding: 10px;
	margin-right: 10px
}

.container .tab-right .ai .selected .cancel img {
	position: absolute;
	top: 9px;
	right: 0
}

.container .tab-right .ai .check {
	max-width: none!important;
	border: 1px solid #ccc;
	margin-left: 0!important;
	margin-bottom: 28px;
	padding-bottom: 15px
}

.container .tab-right .ai .check div.area.check-box {
	margin-right: 75px;
	line-height: 50px;
	text-align: left
}

.container .tab-right .ai .check div.area.check-box label {
	width: auto;
	cursor: pointer;
	margin-left: 30px;
	line-height: 45px;
	position: relative
}

.container .tab-right .ai .check div.area.check-box label span {
	display: inline-block;
	height: 14px;
	width: 14px;
	cursor: pointer;
	border: 1px solid #8c96a0;
	position: absolute;
	top: 1px;
	left: -22px
}

.container .tab-right .ai .check div.area.check-box label input {
	display: none
}

.container .tab-right .ai .check div.area.check-box label input:checked:before {
	content: '';
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABBUlEQVQokWMU3Hv0PwMZgIkcTfTTmCUnxdCmqkiaxnAJUYYWFQWGGCkx4jUmSIszTNdSZbj85SuD3MGTCI2czEwMIeIiDCyMjBiaMmQlGfrUlRkufP7CYH/qIlyciYGBgcFNWJBhlrYaw05jXRRNBfLSDG2qigxHP3xicDp9CUWOiYGBgWHjq7cMlbfuMxjy8TDsNdVjYGJkYMiWk2KoU5Zn2PfuA4PvuSsYLmFETgAJ0uIMferKDB/+/GEQYGFh2PHmHUPUpRtY/c2CzFnw9CXD73//GSZrqjDsevsepyYMjQwMDAxLn79i+PHvH8PGV29xasKqkYGBgWHtyzd4NTEwUJDkAB/QR9V5zsQGAAAAAElFTkSuQmCC) no-repeat
}

.container .tab-right .ai div .sex-per {
	text-align: center;
	margin: 10px auto 40px
}

.container .tab-right .ai div .sex-per:before {
	display: block;
	content: '';
	border-top: 1px dashed #eee
}

.container .tab-right .ai div .sex-per h1 {
	font-size: 20px;
	color: #555;
	height: 60px;
	line-height: 60px
}

.container .tab-right .ai div .sex-per div span {
	display: inline-block;
	border: solid 1px #ccc;
	border-radius: 20px;
	padding: 6px 30px;
	background-color: #fff;
	color: #555;
	cursor: pointer;
	margin-right: 20px
}

.container .tab-right .ai div .sex-per div span.active {
	background: #11bdc5;
	border: solid 1px #11bdc5;
	color: #fff
}

.container .tab-right .ai div .sex-per-last:after {
	display: block;
	content: '';
	border-bottom: 1px dashed #eee
}

.container .tab-right .ai div .sex-per-last .choice {
	padding-bottom: 40px
}

.container .tab-right .ai div .sex-per-left {
	text-align: left
}

.container .tab-right .ai div .sex-per-left .choice {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.container .tab-right .ai div .sex-per-left .choice .cancel {
	position: relative;
	cursor: pointer;
	text-align: right
}

.container .tab-right .ai div .sex-per-left .choice .cancel span {
	border: none;
	color: #ff4638;
	padding: 10px;
	margin-right: 10px
}

.container .tab-right .ai div .sex-per-left .choice .cancel img {
	position: absolute;
	top: 9px;
	right: 0
}

.container .tab-right .ai div div {
	width: 100%;
	margin: 0 auto
}

.container .tab-right .ai div div.submit-box {
	text-align: center
}

.container .tab-right .ai div div.submit-box .submit {
	width: 232px;
	margin: 0 auto;
	height: 25px;
	line-height: 25px;
	background: #11bdc5;
	color: #fff;
	display: inline-block;
	border-radius: 27px;
	padding: 15px 0;
	cursor: pointer
}

.container .tab-right .enroll .select {
	text-align: center
}

.container .tab-right .enroll .select:after {
	height: 0;
	border-bottom: 1px dashed #eee;
	background-color: #eee
}

.container .tab-right .enroll .select h1 {
	font-size: 30px;
	color: #000;
	margin: 27px auto
}

.container .tab-right .enroll .select .tip {
	font-size: 14px;
	color: #999
}

.container .tab-right .enroll .select .info {
	color: #000;
	font-size: 24px;
	margin-top: 52px;
	margin-bottom: 30px
}

.container .tab-right .enroll .select .info span {
	display: inline-block;
	line-height: 42px;
	height: 42px;
	font-size: 20px
}

.container .tab-right .enroll .select .info span.user-info {
	margin-right: 47px
}

.container .tab-right .enroll .select .info span span:first-of-type {
	color: #333;
	font-size: 14px
}

.container .tab-right .enroll .select .info span span:last-of-type {
	margin-right: 30px
}

.container .tab-right .enroll .select .info .revise {
	display: inline-block;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	border: solid 1px #11bdc5;
	color: #11bdc5;
	font-size: 16px;
	margin-left: 60px;
	cursor: pointer
}
.container .tab-right .enroll .select .info .revise:hover{
	background-color: #11bdc5;
	color:#fff;
	transition:.3s all
}
.container .tab-right .enroll .select .info .revise.search-school:hover{
	background-color: #11bdc5;
	color: #fff
}

.container .tab-right .enroll .select .info input {
	border-radius: 20px;
	outline: none;
	border: 1px solid #ccc;
	height: 40px;
	width: 367px;
	text-align: center;
	font-size: 16px
}

.container .tab-right .enroll .select .info input::-webkit-input-placeholder {
	color: #d2d2d2
}

.container .tab-right .enroll .search-info {
	width: 901px;
	height: 615px;
	border-radius: 10px;
	border: dashed 1px #11bdc5;
	margin: 44px auto 0;
	position: relative
}

.container .tab-right .enroll .search-info h2 {
	font-size: 24px;
	color: #333;
	margin: 38px auto;
	text-align: center
}

.container .tab-right .enroll .search-info .result .circle {
	margin: 0 auto;
	text-align: center;
	background-color: transparent
}

.container .tab-right .enroll .search-info .result .circle canvas {
	z-index: 1;
	position: relative
}

.container .tab-right .enroll .search-info .result .square {
	width: 710px;
	height: 315px;
	background-color: #f6f6f6;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	bottom: 71px;
	z-index: 0
}

.container .tab-right .enroll .search-info .result .square div {
	height: 315px;
	display: inline;
	color: #999;
	position: absolute
}

.container .tab-right .enroll .search-info .result .square div:first-of-type {
	margin-top: 165px;
	margin-left: 90px
}

.container .tab-right .enroll .search-info .result .square div:last-of-type {
	margin-top: 97px;
	margin-left: 432px
}

.container .tab-right .enroll .search-info .result .square div>span {
	font-size: 20px;
	width: 190px;
	display: inline-block;
	text-align: center
}

.container .tab-right .enroll .search-info .result .square div>span>span:first-of-type {
	display: inline;
	font-size: 40px;
	color: #11bdc5
}

.container .tab-right .enroll .search-info .result .square div>span:last-of-type {
	font-size: 18px;
	color: #555
}

.container .tab-right .report {
	border-top: 3px solid #11bdc5;
	text-align: center;
	position: relative;
	margin-bottom: 40px;
}

.container .tab-right .report h1 {
	font-size: 30px;
	margin: 24px 0 58px
}

.container .tab-right .report .r-substance {
	font-size: 24px;
	color: #666;
	margin: 39px 0 38px
}

.container .tab-right .report .r-substance span {
	color: #11bdc5
}

.container .tab-right .report .r-score {
	width: 228px;
	height: 70px;
	text-align: center;
	position: absolute;
	top: 124px;
	left: 50%;
	margin-left: -112px;
	font-size: 60px;
	color: #fe6a23
}

.container .tab-right .report .r-score span {
	font-size: 24px;
	color: #666
}

.container .tab-right .report .r-school {
	padding-top: 28px;
	border-top: 1px dashed #eee;
	font-size: 20px;
	color: #555;
	margin-bottom: 26px
}

.container .tab-right .report .r-school span {
	color: #11bdc5
}

.container .tab-right .report .r-school-entry {
	text-align: left
}

.container .tab-right .report .r-school-entry div {
	height: 50px;
	background-color: #b7ebed;
	font-size: 20px;
	color: #333;
	line-height: 50px;
	text-align: left
}

.container .tab-right .report .r-school-entry div .r-left {
	margin-left: 53px
}

.container .tab-right .report .r-school-entry div .r-center {
	display: inline-block;
	width: 300px;
	text-align: center
}

.container .tab-right .report .r-school-entry div .r-right {
	float: right;
	margin-right: 79px
}

.container .tab-right .report .r-school-entry li {
	width: 937px;
	height: 75px;
	font-size: 24px;
	color: #333;
	border-bottom: 1px solid #eee
}

.container .tab-right .report .r-school-entry li .r-left {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #ff5252;
	margin-left: 57px;
	margin-top: 22px;
	font-size: 18px;
	color: #FFF;
	text-align: center;
	line-height: 30px
}

.container .tab-right .report .r-school-entry li .r-center {
	display: inline-block;
	width: 300px;
	text-align: center;
	margin-left: 5px
}

.container .tab-right .report .r-school-entry li .r-right {
	float: right;
	margin-right: 79px;
	line-height: 75px
}

.container .tab-right .report .r-city-name {
	text-align: left
}

.container .tab-right .report .r-city-name>div {
	height: 50px;
	background-color: #b7ebed;
	font-size: 20px;
	color: #333;
	line-height: 50px;
	text-align: left
}

.container .tab-right .report .r-city-name>div .r-left {
	margin-left: 53px
}

.container .tab-right .report .r-city-name>div .r-right {
	float: right;
	margin-right: 80px
}

.container .tab-right .report .r-city-name>div .r-right span {
	display: inline-block;
	height: 10px;
	background-color: #11bdc5
}

.container .tab-right .report .r-city-name li {
	width: 937px;
	height: 75px;
	font-size: 24px;
	color: #333;
	border-bottom: 1px solid #eee
}

.container .tab-right .report .r-city-name li .r-left {
	display: inline-block;
	margin-left: 53px;
	margin-top: 22px
}

.container .tab-right .report .r-city-name li .r-right {
	float: right;
	margin-right: 79px;
	line-height: 75px
}

.container .tab-right .report .r-city-name li .r-right .scale-box {
	display: inline-block;
	width: 190px;
	height: 10px;
	border-radius: 6px;
	border: solid 1px #11bdc5
}

.container .tab-right .report .r-city-name li .r-right .scale-box span {
	display: inline-block;
	height: 10px;
	border-radius: 5px;
	float: right;
	background-color: #11bdc5
}

.container .tab-right .major-school,
.container .tab-right .vocation-major {
	width: 937px
}

.container .tab-right .major-school .ms-box,
.container .tab-right .vocation-major .ms-box {
	width: 100%
}

.container .tab-right .major-school .ms-box:after,
.container .tab-right .major-school .ms-box:before,
.container .tab-right .vocation-major .ms-box:after,
.container .tab-right .vocation-major .ms-box:before {
	display: block;
	content: '';
	height: 3px;
	background-color: #11bdc5
}

.container .tab-right .major-school .ms-box .select-item:after,
.container .tab-right .vocation-major .ms-box .select-item:after {
	display: block;
	content: '';
	height: 1px;
	background: #f0f0f0
}

.container .tab-right .major-school .ms-box .select-item .per-cell,
.container .tab-right .vocation-major .ms-box .select-item .per-cell {
	max-width: 840px;
	margin-left: 25px
}

.container .tab-right .major-school .ms-box .select-item .per-cell-2,
.container .tab-right .vocation-major .ms-box .select-item .per-cell-2 {
	margin-left: 30px
}

.container .tab-right .major-school .ms-box .select-item .per-cell,
.container .tab-right .major-school .ms-box .select-item .percent,
.container .tab-right .vocation-major .ms-box .select-item .per-cell,
.container .tab-right .vocation-major .ms-box .select-item .percent {
	display: inline-block;
	line-height: 50px;
	color: #333;
	font-size: 14px
}

.container .tab-right .major-school .ms-box .select-item .per-cell.percent-area,
.container .tab-right .major-school .ms-box .select-item .percent.percent-area,
.container .tab-right .vocation-major .ms-box .select-item .per-cell.percent-area,
.container .tab-right .vocation-major .ms-box .select-item .percent.percent-area {
	margin-right: 0;
	float: left
}

.container .tab-right .major-school .ms-box .select-item .per-cell div,
.container .tab-right .major-school .ms-box .select-item .percent div,
.container .tab-right .vocation-major .ms-box .select-item .per-cell div,
.container .tab-right .vocation-major .ms-box .select-item .percent div {
	line-height: 62px;
	display: inline-block;
	width: 105px;
	text-align: center;
	margin-right: 67px
}

.container .tab-right .major-school .ms-box .select-item .per-cell div.w-area,
.container .tab-right .major-school .ms-box .select-item .percent div.w-area,
.container .tab-right .vocation-major .ms-box .select-item .per-cell div.w-area,
.container .tab-right .vocation-major .ms-box .select-item .percent div.w-area {
	width: auto;
	margin-right: 15px
}

.container .tab-right .major-school .ms-box .select-item .per-cell div span,
.container .tab-right .major-school .ms-box .select-item .percent div span,
.container .tab-right .vocation-major .ms-box .select-item .per-cell div span,
.container .tab-right .vocation-major .ms-box .select-item .percent div span {
	display: block;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	padding: 0 15px
}

.container .tab-right .major-school .ms-box .select-item .per-cell div span.active,
.container .tab-right .major-school .ms-box .select-item .percent div span.active,
.container .tab-right .vocation-major .ms-box .select-item .per-cell div span.active,
.container .tab-right .vocation-major .ms-box .select-item .percent div span.active {
	border-radius: 15px;
	background-color: #11bdc5;
	color: #fff
}

.container .tab-right .vocation-major .ms-box .select-item .per-cell div span:hover,
.container .tab-right .major-school .ms-box .select-item .per-cell div span:hover{
	border:1px solid #11bdc5;
	border-radius: 15px;
}



.container .tab-right .major-school .ms-box .select-item .per-cell .condition,
.container .tab-right .major-school .ms-box .select-item .percent .condition,
.container .tab-right .vocation-major .ms-box .select-item .per-cell .condition,
.container .tab-right .vocation-major .ms-box .select-item .percent .condition {
	margin-right: 25px;
	width: 143px
}

.container .tab-right .major-school .ms-box .select-item .per-cell .condition select,
.container .tab-right .major-school .ms-box .select-item .percent .condition select,
.container .tab-right .vocation-major .ms-box .select-item .per-cell .condition select,
.container .tab-right .vocation-major .ms-box .select-item .percent .condition select {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #e3e3e3;
	text-indent: .5em
}

.container .tab-right .major-school .ms-major li,
.container .tab-right .vocation-major .ms-major li {
	height: 120px;
	padding-left: 28px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	color: #666
}

.container .tab-right .major-school .ms-major li .ms-generic,
.container .tab-right .vocation-major .ms-major li .ms-generic {
	display: inline-block;
	font-size: 20px;
	color: #333;
	margin-top: 25px;
	cursor: pointer
}

.container .tab-right .major-school .ms-major li .ms-course,
.container .tab-right .vocation-major .ms-major li .ms-course {
	display: inline-block;
	margin-left: 22px
}

.container .tab-right .major-school .ms-major li .ms-course span,
.container .tab-right .vocation-major .ms-major li .ms-course span {
	color: #11bdc5
}

.container .tab-right .major-school .ms-major li .ma-monthly,
.container .tab-right .vocation-major .ms-major li .ma-monthly {
	display: inline-block;
	margin-top: 21px
}

.container .tab-right .major-school .ms-major li .ma-monthly span,
.container .tab-right .vocation-major .ms-major li .ma-monthly span {
	color: #fe6a23
}

.container .tab-right .major-school .ms-major li .ms-maximum,
.container .tab-right .vocation-major .ms-major li .ms-maximum {
	display: inline-block;
	margin-left: 32px
}

.container .tab-right .major-school .ms-major li .ms-maximum span,
.container .tab-right .vocation-major .ms-major li .ms-maximum span {
	font-size: 16px;
	color: #11bdc5
}

.container .tab-right .vocation-major .vm-major .vm-box {
	border-bottom: 1px solid #eee
}

.container .tab-right .vocation-major .vm-major .vm-box ol {
	margin: 0 auto;
	width: 582px;
	height: 60px;
	margin-top: 18px
}

.container .tab-right .vocation-major .vm-major .vm-box ol li {
	float: left;
	width: 168px;
	height: 38px;
	border-radius: 20px;
	text-align: center;
	line-height: 40px;
	color: #666;
	margin: 0 12px;
	border: solid 1px #a1a1a1;
	cursor: pointer
}

.container .tab-right .vocation-major .vm-major .vm-box ol li span {
	margin-left: 8px;
	margin-top: -3px;
	display: inline-block;
	vertical-align: middle
}

.container .tab-right .vocation-major .vm-major .vm-box ol .vm-active {
	background-color: #11bdc5;
	color: #fff;
	border: solid 1px #11bdc5
}
.container .tab-right .vocation-major .vm-major .vm-box ol>li:hover{
	border:1px solid #11bdc5;
} 
.container .tab-right .vocation-major .vm-major .vm-payment ul li {
	height: 123px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	color: #666;
	padding-left: 30px;
	position: relative
}

.container .tab-right .vocation-major .vm-major .vm-payment ul li .vm-generic {
	display: inline-block;
	font-size: 20px;
	color: #333;
	margin-top: 30px;
	cursor: pointer
}

.container .tab-right .vocation-major .vm-major .vm-payment ul li .vm-monthly {
	display: inline-block;
	color: #11bdc5;
	margin-top: 20px
}

.container .tab-right .vocation-major .vm-major .vm-payment ul li .vm-salary {
	position: absolute;
	top: 50px;
	right: 38px;
	font-size: 14px;
	color: #666
}

.container .tab-right .vocation-major .vm-major .vm-payment ul li .vm-salary span {
	font-size: 18px;
	color: #fe6a23
}

.container .tab-right .vocation-major .vm-major .vm-scale ul li,
.container .tab-right .vocation-major .vm-major .vm-schoolgirl ul li {
	height: 123px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	color: #666;
	padding-left: 30px;
	position: relative
}

.container .tab-right .vocation-major .vm-major .vm-scale ul li .vm-generic,
.container .tab-right .vocation-major .vm-major .vm-schoolgirl ul li .vm-generic {
	display: inline-block;
	font-size: 20px;
	color: #333;
	margin-top: 30px
}

.container .tab-right .vocation-major .vm-major .vm-scale ul li .vm-monthly,
.container .tab-right .vocation-major .vm-major .vm-schoolgirl ul li .vm-monthly {
	display: inline-block;
	color: #11bdc5;
	margin-top: 20px
}

.container .tab-right .vocation-major .vm-major .vm-scale ul li .vm-salary,
.container .tab-right .vocation-major .vm-major .vm-schoolgirl ul li .vm-salary {
	position: absolute;
	top: 50px;
	right: 38px;
	font-size: 14px;
	color: #666
}

.container .tab-right .vocation-major .vm-major .vm-scale ul li .vm-salary span,
.container .tab-right .vocation-major .vm-major .vm-schoolgirl ul li .vm-salary span {
	font-size: 18px;
	color: #fe6a23
}

.container .tab-right .vocation-major .vm-major .vm-scale ul li .vm-salary .scaling-box,
.container .tab-right .vocation-major .vm-major .vm-schoolgirl ul li .vm-salary .scaling-box {
	width: 190px;
	height: 10px;
	border-radius: 6px;
	border: solid 1px #11bdc5
}

.container .tab-right .vocation-major .vm-major .vm-scale ul li .vm-salary .scaling-box div,
.container .tab-right .vocation-major .vm-major .vm-schoolgirl ul li .vm-salary .scaling-box div {
	float: right;
	height: 10px;
	background-color: #11bdc5;
	border-radius: 5px
}

.container .tab-right .page {
	text-align: center
}

.container .tab-right .page a {
	display: inline-block;
	width: 70px;
	height: 36px;
	line-height: 36px;
	border: solid 1px #ccc;
	margin-top: 10px
}

.container .tab-right .page a:first-of-type {
	margin-right: 9px
}

.hide {
	display: none
}

.bingo:before {
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABBUlEQVQokWMU3Hv0PwMZgIkcTfTTmCUnxdCmqkiaxnAJUYYWFQWGGCkx4jUmSIszTNdSZbj85SuD3MGTCI2czEwMIeIiDCyMjBiaMmQlGfrUlRkufP7CYH/qIlyciYGBgcFNWJBhlrYaw05jXRRNBfLSDG2qigxHP3xicDp9CUWOiYGBgWHjq7cMlbfuMxjy8TDsNdVjYGJkYMiWk2KoU5Zn2PfuA4PvuSsYLmFETgAJ0uIMferKDB/+/GEQYGFh2PHmHUPUpRtY/c2CzFnw9CXD73//GSZrqjDsevsepyYMjQwMDAxLn79i+PHvH8PGV29xasKqkYGBgWHtyzd4NTEwUJDkAB/QR9V5zsQGAAAAAElFTkSuQmCC) no-repeat;
	position: relative;
	top: -6px
}

.no-data {
	height: 123px;
	text-align: center;
	line-height: 123px;
	font-size: 20px;
	width: 100%;
	margin-bottom: 20px
}

.no-data:after {
	display: block;
	content: '';
	height: 1px;
	background: #eee
}
.info-major-list{
	border:1px solid #ddd;
	border-bottom: none;
	width:300px;
	margin:-20px 0 20px 270px;
}
.info-major-list div{
	height:30px;
	line-height: 30px;
	font-size:20px;
	border-bottom:1px solid #ddd;
}
