 .container .tab-right .select .select-item .per-cell {
    max-width: 840px;
    margin-left: 25px
}

.container .tab-right .select .select-item .per-cell,.container .tab-right .select .select-item .per-cell {
    
    margin-left: 25px
}
.container .tab-right .select .select-item:after {
    display: block;
    content: '';
    height: 1px;
    background: #f0f0f0
}

.container .tab-right .select .select-item .per-cell.check,
.container .tab-right .select .select-item .percent.check {
    display: none
}

.container .tab-right .select .select-item .per-cell,
.container .tab-right .select .select-item .percent{
    display: inline-block;
    line-height: 50px;
    color: #333;
    font-size: 14px;
    max-width: 840px;
}
.container .tab-right .select .select-item .per-cell.percent-area,
.container .tab-right .select .select-item .percent.percent-area{
    margin-right: 0;
    float: left
}
.container .tab-right .select .select-item .per-cell-2{
    margin-left: 30px
}

.container .tab-right .select .select-item .per-cell div.no-mr,
.container .tab-right .select .select-item .percent div.no-mr {
    margin-right: 0
}
.container .tab-right .select .select-item .per-cell .condition select,
.container .tab-right .select .select-item .percent .condition select {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    text-indent: .5em;
    outline:none;
}
.container .tab-right .select .select-item .per-cell div.area,
.container .tab-right .select .select-item .percent div.area {
    width: 80px;
    margin-right: 6px
}

.container .tab-right .select .select-item .per-cell div span,
.container .tab-right .select .select-item .percent div span {
    display: block;
    height: 30px;
    line-height: 30px;
    cursor: pointer
}
.container .tab-right .select .select-item .per-cell div span:hover{
    border:1px solid #11bdc5;
    border-radius:15px;
}
.container .tab-right .select .select-item .per-cell div span.active,
.container .tab-right .select .select-item .percent div span.active {
    border-radius: 15px;
    background-color: #11bdc5;
    color: #fff
}
.container .tab-right .select .select-item .per-cell-2{
    margin-left: 30px;
    max-width: 840px;
    display: inline-block;
}
.container .tab-right .select:after,
.container .tab-right .select:before {
    display: block;
    content: '';
    height: 3px;
    background-color: #11bdc5
}

.container .tab-right .select .select-item .per-cell div,
.container .tab-right .select .select-item .percent div {
    line-height: 62px;
    display: inline-block;
    width: 105px;
    text-align: center;
    margin-right: 67px
}
.container .tab-right .select .select-item .per-cell .condition,
.container .tab-right .select .select-item .percent .condition {
    margin-right: 25px;
    width: 143px
}
.hide {
    display: none;
}