<template>
	<div class="schools">
		<no-data v-show='no_data'></no-data>
		<ul>
		    <li @layclick=schoolDetails(school.id) v-for='(school,index) of schools'>
		    	<div class="school-logo">
		    		<img :src="logo+school.logo" alt="logo" title="logo" />
		    	</div>
		    	<div class="school-info">
		    		<span class="school-name" :school-id=school.id>{{school.school_name}}</span>
		    		<span class="city-name icon-shengfen" v-if='show'>{{school.city_name}}</span>
		    		<br>
		    		<span v-if='!show' class='five'>
			    		<span>毕业5年月薪：<span>&yen;{{school.five}}</span></span>
			    		<span>最多去向城市：<span>{{school.area_name}}{{school.bili}}%</span></span>
	    			</span>
		    		<span class="school-type"
	    				v-if='show'
						v-if='school.stype.length>0'
						v-for='type of school.stype'
						v-show=type>{{type}}</span>
	    			<span class="school-salary" v-if='show'>薪酬超过{{school.salary}}%的学校</span>
		    		<div class="school-rank">
		    			<span class="school-ranking">综合排名：<span>{{show?school.ranking:school.sort}}</span></span>
		    			<span @layclick=addAttention($event,school.id) class="school-attention"
		    				v-if='show'
		    				:class='school.status==0? "icon-notcollect":"icon-collect"'></span>
		    		</div>
		    	</div>
		    </li>
		</ul>
	</div>
</template>
<script>
	'use strict';
function fn30(d){	
	jcy.use('jcyer',function(){
		jcy.jcyer({
			skin:1,
			content:d.data.data.msg
		})
	})
}
module['base-schoollist'] = {
	props: ['schools'],
	template: template,
	data: function data() {
		return {
			show: 1,
			logo: base.api('logo'),
			no_data: false,
			sid : ''
		};
	},
	methods: {
		schoolDetails: function schoolDetails(id) {			
				var index = $('.neibu_tab li.active').index();
				var url = '/info' + '?school-id=' + id + '&collage&index=0';
				this.$router.push({ 
					path: url
				});
		},
		addAttention:function(e,id){			
			e.stopPropagation();
			this.sid = sessionStorage.getItem("sid");
			var tar = e.target;
				if (tar.className.indexOf("notcollect") > -1) {	
					tar.className = tar.className.replace('notcollect', 'collect');
					this.$http.post(base.baseApi('App.User.Attention'),{ 
						type: "school",
						id: id,
						uid: this.sid,
						status: 1
					}).then(fn30)
					
				} else {
					tar.className = tar.className.replace('collect', 'notcollect');
					this.$http.post(base.baseApi('App.User.Attention'),{
						type: "school",
						id: id,
						uid: this.sid,
						status: 0
					}).then(fn30)
				}
		}
	}
};
</script>
