<template>
	<div class="select-item">
		<div class="percent percent-area">院校地区:</div>
		<div class="per-cell per-cell-2">
			<div class="area">
				<span class="active">不限</span>
			</div>
			<div class="area" v-for='(area,index) of areas'>
				<span :datavalue='area.datavalue'>
					{{area.dataname}}
				</span>
			</div>
		</div>
	</div>
</template>
<script>
	module['base-areas'] = {
		template: template,
		data: function data() {
			return {
				areas: null 
			};
		},
		created: function created() {			
			base.$areas = this;			
			this.$http.get(base.baseApi('App.School.Area')).then(d=>{	
				this.areas = d.data.data.data
			})			
		}
	};
</script>
