	 .school-type {
	 	display: inline-block;
	 	width: 40px;
	 	height: 25px;
	 	border-radius: 4px;
	 	border: solid 1px #ff4638;
	 	text-align: center;
	 	line-height: 25px;
	 	margin-right: 13px;
	 	font-size: 12px;
	 	color: #ff4638;
	 	margin-top:12px;
	 }
	 
	 .school-salary {
	 	display: inline-block;
	 	width: 134px;
	 	height: 25px;
	 	border-radius: 4px;
	 	border: solid 1px #11bdc5;
	 	text-align: center;
	 	line-height: 25px;
	 	margin-left: 4px;
	 	margin-top: 12px;
	 	font-size: 12px;
	 	color: #11bdc5
	 }