	<template>
	<div class="info-container info-table">
		<div>
			<div @layclick="button" v-for="(item,index) of t.button" :class="{'info-active':!index}" class="info-toggleshow">{{item}}</div>
		</div>
		<div class="jcyui-show info-box" :class="type">
			<div class="info-liteBox">
				<div class="info-liteTitle">
					专业简介
				</div>
				<div>
					<div class="info-tip">
					</div>
					<div class="info-introduce">
						<div>{{d.intro.major_name}}概况</div>
						<div class="info-ointro">&nbsp;&nbsp;{{d.intro.intro}}</div>
					</div>
					<div @layclick="seeMore" class="info-seeall">查看全部</div>
				</div>
			</div>
			<div class="info-liteBox">
				<div class="info-liteTitle">
					学校男女生比例
				</div>
				<div class="info-intro bd row info-nannv">
					<ul class="col-sm-4">
						<li class="info-famale">
							<info-icon3></info-icon3>
						</li>
						<li class="info-nvsheng">女生</li>
					</ul>
					<ul class="col-sm-4">
						<div class="info-nannvspan">
							<span class="info-nv">{{100-d.intro.boy}}</span> :
							<span class="info-nan">{{d.intro.boy}}</span>
						</div>
						<div class="fl">
							<div :style="{width:(100-d.intro.boy)+'%'}"></div>
							<div :style="{width:d.intro.boy+'%'}"></div>
						</div>
					</ul>
					<ul class="col-sm-4">
						<li class="info-male">
							<info-icon4></info-icon4>
						</li>
						<li class="info-nansheng">男生</li>
					</ul>
				</div>
			</div>
			<div class="info-liteBox">
				<div class="info-liteTitle">
					相似专业
				</div>
				<div class="info-intro bd row info-xiangguan">
					<div v-for="item of d.intro.related" @layclick="toMajor(item.id)">{{item.major_name}}</div>
				</div>
			</div>
		</div>
		<div class="jcyui-hide info-jiuye info-box">
			<div class="info-liteBox">
				<div class="info-liteTitle">就业前景概况</div>
				<div class="row">
					<div class="info-liteBox-box col-lg-3">
						<info-icon0></info-icon0>
						<div>
							<info-icon1></info-icon1>
						</div>
						<div>NO.{{d.job.prospect.salary}}</div>
						<div>薪酬排名</div>
					</div>
					<div class="info-liteBox-box col-lg-3">
						<info-icon0></info-icon0>
						<div>
							<info-icon2></info-icon2>
						</div>
						<div>￥{{d.job.prospect.five}}</div>
						<div>毕业半年薪资</div>
					</div>
					<div class="info-liteBox-box col-lg-3">
						<info-icon0></info-icon0>
						<div class="cirpro">
						</div>
						<div>{{d.job.prospect.trade_name}}</div>
						<div>最多去向行业</div>
					</div>
					<div class="info-liteBox-box col-lg-3">
						<info-icon0></info-icon0>
						<div class="cirpro2"></div>
						<div>{{d.job.prospect.area_name}}</div>
						<div>最多去向城市</div>
					</div>
				</div>
			</div>
			<div class="info-liteBox">
				<div class="info-liteTitle">
					毕业生行业分布
				</div>
				<div class="info-hyfb">

				</div>
			</div>
			<div class="info-liteBox">
				<div class="info-liteTitle">
					毕业生岗位去向
				</div>
				<div class="info-gwqx">

				</div>
			</div>
			<div class="info-liteBox ">
				<div class="info-liteTitle">毕业生流向城市分布</div>
				<div class="info-to-city">
					<ul class="col-lg-6">
						<li>63%</li>
						<li>留在学校所在地区(北京市)</li>
					</ul>
					<ul class="col-lg-6">
						<li>84%</li>
						<li>去北上广深</li>
					</ul>
					<div class="info-pro">
						<div v-for="item of d.flex" :style="{flex:item}"></div>
					</div>
					<div class="info-pro-text">
						<!--<div v-for="(item,index) of d.flex" :style="{flex:item}">{{d.name[index]}}</div>-->
					</div>
				</div>
			</div>
		</div>
		<div class="jcyui-hide info-box info-jiuye">
			<div class="info-liteBox">
				<div class="info-liteTitle">开设此专业的所有学校</div>
				<div class="row" id="recommond">
					<info-schoollist :d=d :t=t></info-schoollist>
				</div>
				<div @layclick="toBefore" class="info-button info-before">上一页</div>
				<div @layclick="toAfter" class="info-button info-after">下一页</div>
			</div>
		</div>
	</div>
</template>
<script>
	function reckChart() {
		var builderJson = {
			"all": 10887,
			"charts": {
				"map": 3237,
				"lines": 2164,
				"bar": 7561,
				"line": 7778,
				"pie": 7355,
				"scatter": 2405,
				"candlestick": 1842,
				"radar": 2090,
				"heatmap": 1762,
				"treemap": 1593,
				"graph": 2060,
				"boxplot": 1537,
				"parallel": 1908,
				"gauge": 2107,
				"funnel": 1692,
				"sankey": 1568
			},
			"components": {
				"geo": 2788,
				"title": 9575,
				"legend": 9400,
				"tooltip": 9466,
				"grid": 9266,
				"markPoint": 3419,
				"markLine": 2984,
				"timeline": 2739,
				"dataZoom": 2744,
				"visualMap": 2466,
				"toolbox": 3034,
				"polar": 1945
			},
			"ie": 9743
		};

		var downloadJson = {
			"echarts.min.js": 17365,
			"echarts.simple.min.js": 4079,
			"echarts.common.min.js": 6929,
			"echarts.js": 14890
		};

		var themeJson = {
			"dark.js": 1594,
			"infographic.js": 925,
			"shine.js": 1608,
			"roma.js": 721,
			"macarons.js": 2179,
			"vintage.js": 1982
		};

		var waterMarkText = 'ECHARTS';

		var canvas = document.createElement('canvas');
		var ctx = canvas.getContext('2d');
		canvas.width = canvas.height = 100;
		ctx.textAlign = 'center';
		ctx.textBaseline = 'middle';
		ctx.globalAlpha = 0.08;
		ctx.font = '20px Microsoft Yahei';
		ctx.translate(50, 50);
		ctx.rotate(-Math.PI / 4);
		ctx.fillText(waterMarkText, 0, 0);

		option = {
			backgroundColor: {
				type: 'pattern',
				image: canvas,
				repeat: 'repeat'
			},
			tooltip: {},
			title: [{
				text: '在线构建',
				subtext: '总计 ' + builderJson.all,
				x: '25%',
				textAlign: 'center'
			}, {
				text: '各版本下载',
				subtext: '总计 ' + Object.keys(downloadJson).reduce(function(all, key) {
					return all + downloadJson[key];
				}, 0),
				x: '75%',
				textAlign: 'center'
			}, {
				text: '主题下载',
				subtext: '总计 ' + Object.keys(themeJson).reduce(function(all, key) {
					return all + themeJson[key];
				}, 0),
				x: '75%',
				y: '50%',
				textAlign: 'center'
			}],
			grid: [{
				top: 50,
				width: '50%',
				bottom: '45%',
				left: 10,
				containLabel: true
			}, {
				top: '55%',
				width: '50%',
				bottom: 0,
				left: 10,
				containLabel: true
			}],
			xAxis: [{
				type: 'value',
				max: builderJson.all,
				splitLine: {
					show: false
				}
			}, {
				type: 'value',
				max: builderJson.all,
				gridIndex: 1,
				splitLine: {
					show: false
				}
			}],
			yAxis: [{
				type: 'category',
				data: Object.keys(builderJson.charts),
				axisLabel: {
					interval: 0,
					rotate: 30
				},
				splitLine: {
					show: false
				}
			}, {
				gridIndex: 1,
				type: 'category',
				data: Object.keys(builderJson.components),
				axisLabel: {
					interval: 0,
					rotate: 30
				},
				splitLine: {
					show: false
				}
			}],
			series: [{
				type: 'bar',
				stack: 'chart',
				z: 3,
				label: {
					normal: {
						position: 'right',
						show: true
					}
				},
				data: Object.keys(builderJson.charts).map(function(key) {
					return builderJson.charts[key];
				})
			}, {
				type: 'bar',
				stack: 'chart',
				silent: true,
				itemStyle: {
					normal: {
						color: '#eee'
					}
				},
				data: Object.keys(builderJson.charts).map(function(key) {
					return builderJson.all - builderJson.charts[key];
				})
			}, {
				type: 'bar',
				stack: 'component',
				xAxisIndex: 1,
				yAxisIndex: 1,
				z: 3,
				label: {
					normal: {
						position: 'right',
						show: true
					}
				},
				data: Object.keys(builderJson.components).map(function(key) {
					return builderJson.components[key];
				})
			}, {
				type: 'bar',
				stack: 'component',
				silent: true,
				xAxisIndex: 1,
				yAxisIndex: 1,
				itemStyle: {
					normal: {
						color: '#eee'
					}
				},
				data: Object.keys(builderJson.components).map(function(key) {
					return builderJson.all - builderJson.components[key];
				})
			}, {
				type: 'pie',
				radius: [0, '30%'],
				center: ['75%', '25%'],
				data: Object.keys(downloadJson).map(function(key) {
					return {
						name: key.replace('.js', ''),
						value: downloadJson[key]
					}
				})
			}, {
				type: 'pie',
				radius: [0, '30%'],
				center: ['75%', '75%'],
				data: Object.keys(themeJson).map(function(key) {
					return {
						name: key.replace('.js', ''),
						value: themeJson[key]
					}
				})
			}]
		}
	}

	module['info-major-container'] = { //主内容盒子
		props: ['d', 'type'],
		components: {
			'info-schoollist': require('info-schoollist', {
				init: init,
				ajaxMajor: ajaxMajor,
				attentionAjax: attentionAjax
			})
		},
		data: function data() {
			var nodata = '你看到的是假的';
			return {
				t: {
					button: ['专业简介', '就业报告', '开设学校'],
					nodata: nodata,
					index: 1
				}
			};
		},
		template: template,
		mounted: function() {
			reckChart();
		},
		methods: {
			button: function button(e) {
				$(e.target).addClass('info-active').siblings('.info-toggleshow').removeClass('info-active');
			},
			seeMore: function seeMore(e) {
				if($(e.target).html() === '收起') {
					$('.info-introduce').css('height', '245px');
					$(e.target).html('查看更多');
				} else {
					$('.info-introduce').css('height', 'auto');
					$(e.target).html('收起');
				}
			},
			toMajor: function toMajor(id) {
				//点击相关专业中的灰色按钮
				ajaxMajor.call(init.vm, 'major', id);
			},
			toBefore: function toBefore() {
				if(cache.page == 1) {
					jcy.useJs('jcyer', function() {
						jcy.jcyer({
							skin: 1,
							content: '上一页在哪里'
						});
					});
					return;
				}
				cache.page--;
				if(!cache.activeArea) {
					ajaxMajor.school(!1, cache.page);
				} else {
					ajaxMajor.school(cache.activeArea, cache.page);
				}
			},
			toAfter: function toAfter() {
				if(init.vm.d.schools.length < 10) {
					jcy.useJs('jcyer', function() {
						jcy.jcyer({
							skin: 1,
							content: '哈哈，你点过头了'
						});
					});
					return;
				}
				cache.page++;
				if(!cache.activeArea) {
					ajaxMajor.school(!1, cache.page, 1);
				} else {
					ajaxMajor.school(cache.activeArea, cache.page, 1);
				}
			}
		}
	};
</script>