<!--需要传递参数 topnav={name:'',href:''}-->
<!--需要传递方法 无-->
<template>
	<div>
		<div class="dir">
			<div class="dir-left">
				<router-link v-if="item.router" v-for="(item,index) of topnav" :to="item.router">{{item.name}}<span v-if="index!=(topnav.length-1)"> > </span></router-link>
			</div>
			<div class="dir-right">
				<span class="province">江苏</span>
				<span class="section">理科</span>
				<span class="score">663</span>
				<span @layclick=mask><img :src="editor" alt="编辑" title="编辑" /></span>
			</div>
		</div>
		<base-tips></base-tips>
	</div>
</template>
<script>
	module['base-topnav'] = {
		props: ['topnav'],
		template: template,
		components: {
			'base-tips': require('base-tips')
		},
		methods: {
			mask: function mask(e) {
				$('#tips').show();
			}
		}
	};
</script>


