<template>
	<!-- 忘记密码 -->
	<div class="revise-box" style="display:none;position:fixed;top:0;right:0;left:0;bottom:0;" id="tip">
		<div class="revise-secondary">
			<div class="return" @layclick=close($event) id="return">x</div>
			<div class="title">修改密码</div>
			<ul>
				<li>
					<label for="user-name">用户名：
						<input type="text" placeholder="用户名" maxlength="20" name="user-name" id="user-name" class="right-input" v-model="username" />
					</label>
				</li>
				<div>{{ username_prompt }}</div>
				<li>
					<label for="phone">手机号：
						<input type="tel" placeholder="手机号" maxlength="11" name="phone" id="phone" class="right-input" v-model="phone" />
					</label>
				</li>
				<div>{{ phone_prompt }}</div>
				<li>
					<label for="identifying">验证码：
						<span :fgetc='fgetc' id="get-code" @layclick=get_code($event)>获取验证码</span>
						<input type="tel" placeholder="验证码" maxlength="4" class="identifying" name="identifying" id="identifying" v-model="identifying" />
					</label>
				</li>
				<div>{{ identifying_prompt }}</div>
				<li>
					<label for="passwords">密码：
						<input type="password" placeholder="请设置登录密码 (6-12位)" maxlength="20" name="passwords" id="passwords" class="right-input" v-model="passwords" />
					</label>
				</li>
				<div>{{ passwords_prompt }}</div>
				<li class="button" @layclick=revise_password($event) id="button">确认修改</li>
			</ul>
		</div>
	</div>
</template>
<script>
	module['base-forget']={
		template: template,
		data:function(){
			return {
				username: "",
				phone: "",
				fgetc: true,
				username_prompt: null,
				phone_prompt: null,
				identifying_prompt: null,
				passwords_prompt: null,
				identifying: "",
				passwords: "",
				sid : ""
			}
		},
		methods:{
			checkver_test: function checkver_test() {
				var _this = this,
					c,
					user = _this.phone,
					reg = /^1[3|4|5|7|8][0-9]{9}$/,
					res = reg.test(user);
				if(user == null || user == '') {
					_this.phone_prompt = "手机号不能为空";
					return;
				} else if(res) {
					c = 1;
				} else {
					_this.phone_prompt = "手机号不符合要求";
					return;
				}
				if(c == 1) return true;
			},
			/* 修改密码 */
			/* 模态框 */
			close: function close(e) {
				$('#tip').hide();
				$('#tips').hide();
				$('#login').hide()
				$("body").removeClass("fixed");
			},
			/* 获取验证码 */
			get_code: function get_code(e) {
				var _this = this;
				if(_this.checkver_test()) {
					var phone = _this.phone;
					if(phone == "") {
						_this.phone_prompt = "手机号不能为空";
						return;
					}
					if(_this.fgetc) {
						_this.fgetc = false;
						base.request(base.api(38), {
							'phone': phone
						}, function(data) {
							var i = 60;
							$('span#get-code').text(i + 's').css('background-color', "#c2c2c2");
							var time = setInterval(fun, 1000);

							function fun() {
								i--;
								if(i === 0) {
									$('span#get-code').text("获取验证码").css('background-color', "#11bdc5");
									clearInterval(time);
									_this.fgetc = true;
								} else {
									$('span#get-code').text(i + "s").css('background-color', "#c2c2c2");
								}
							}
						}, function a(data) {
							data['code']['0'] === '160040' ? alert('当天短信发送次数超限') : alert(data.msg, "提示", "确定");
						});
					}
				}
			},
			check_register: function check_register(phone, code, password, username) {
				this.sid = sessionStorage.getItem("sid");
				this.$http.post(base.baseApi('App.User.ResetPasswd'),
					{
						'phone': phone,
						"code": code,
						"password": password,
						"username": username,
						"sid":this.sid
					}).then(data=>{	
						alert('修改成功');
						localStorage.clear();
						sessionStorage.clear();
						location.replace("../index.html");
					},function(data){
						alert(data.msg);
					})
				/*base.request(base.api(37), {
					'phone': phone,
					"code": code,
					"password": password,
					"username": username
				}, function(data) {
					alert('修改成功');
					localStorage.clear();
					sessionStorage.clear();
					location.replace("../index.html");
				}, function(data) {
					alert(data.msg);
				});*/
			},
			revise_password: function revise_password(e) {
				var _this = this;
				var a,
					b,
					c,
					d,
					user = _this.phone,
					user1 = _this.identifying,
					user2 = _this.passwords,
					user3 = _this.username,
					reg = /^1[3|4|5|7|8][0-9]{9}$/,
					pat1 = /^[0-9]{4}$/,
					pat3 = /^[a-zA-Z0-9]{5,20}$/,
					pat2 = /^[a-zA-Z0-9]{6,20}$/,
					res = reg.test(user),
					res1 = pat1.test(user1),
					res2 = pat2.test(user2),
					res3 = pat3.test(user3);
				if(user3 == null || user3 == '') {
					_this.username_prompt = "用户名不能为空";
					return;
				} else if(res3) {
					_this.username_prompt = null;
					d = 1;
				} else {
					_this.username_prompt = "用户名不符合要求";
					return;
				}
				if(user == null || user == '') {
					_this.phone_prompt = "手机号不能为空";
					return;
				} else if(res) {
					_this.phone_prompt = null;
					c = 1;
				} else {
					_this.phone_prompt = "手机号不符合要求";
					return;
				}
				if(user1 == null || user1 == '') {
					_this.identifying_prompt = "验证码不能为空";
					return;
				} else if(res1) {
					_this.identifying_prompt = null;
					b = 1;
				} else {
					_this.identifying_prompt = "验证码不符合要求";
					return;
				}
				if(user2 == null || user2 == '') {
					_this.passwords_prompt = "密码不能为空";
					return;
				} else if(res2) {
					_this.passwords_prompt = null;
					a = 1;
				} else {
					_this.passwords_prompt = "密码不符合要求";
					return;
				}
				if(a == 1 && b == 1 && c == 1 && d == 1) {
					this.check_register(user, user1, user2, user3);
				}
			},
		}
	}
</script>
