<template>
	<ul class="r-school-entry">
		<div>
			<span class="r-left">排名</span>
			<span class="r-center">专业名称</span>
			<span class="r-center">专业类别</span>
			<span class="r-right">毕业5年月薪</span>
		</div>
		<li style="cursor:pointer;" @layclick="toMajor(major.major_id)" v-for='(major, index) of rank_majors'>
			<span class="r-left" :class='{"first":index==0, "second":index==1, "third":index==2}'>{{index+1}}</span>
			<span class="r-center" :major-id=major.major_id>{{major.major_name}}</span>
			<span class="r-content">{{major.xueke}}</span>
			<span class="r-right salary">&yen;{{major.five}}</span>
		</li>
	</ul>
</template>
<script>
	'use strict';

module['rank-major'] = {
	props: ['rank_majors'],
	template: template,
	methods: {
		toMajor: function toMajor(e) {
			this.$router.push({ path: "/info?major-id=" + e + '&info&index=3' });
			//				window.open("info.html?major-id=" + e+'&info&3');
		}
	}
};
</script>
