<template>
	<div class="select-item">
		<div class="percent percent-area">院校地区:</div>
		<div class="per-cell per-cell-2" @layclick=select($event)>
			<div class="area">
				<span data-type="cityOrder"  class="active">全国</span>
			</div>
			<div class="area" v-for='(area,index) of areas'>
				<span data-type="cityOrder" :data-json="area.datavalue">{{area.dataname}}</span>
			</div>
		</div>
	</div>
</template>
<script>
	module['school-area'] = {
		template: template,
		props: ['areas'],
		methods: {
			select: function select(e) {
				this.$emit('select', e);
			}
		}
	};
</script>
