@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?axcdjs');
  src:  url('./icomoon.eot?axcdjs#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?axcdjs') format('truetype'),
    url('./icomoon.woff?axcdjs') format('woff'),
    url('./icomoon.svg?axcdjs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change . */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
	display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes mrotate{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(720deg);
	}
}
[class^="icon-spinner"],[class*=" icon-spinner"]{
	animation:mrotate 2s cubic-bezier(.21,.62,.59,.91) infinite;
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-spinner4:before {
  content: "\e97d";
}
.icon-spinner5:before {
  content: "\e97e";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-spinner7:before {
  content: "\e980";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-spinner10:before {
  content: "\e983";
}
